@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  background-color: rgb(240, 231, 231);
}

.logo {
  font-size: 3.5rem;
  text-align: center;
  margin: 0.5rem;
  background-color: antiquewhite;
}
.board-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.list {
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
  width: 350px;
  background-color: rgb(246, 227, 203);
}
.list-details {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.list-details h1 {
  text-transform: capitalize;
}
.list figure {
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 1rem;
}
.list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}
.list img:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
button {
  border: none;
  cursor: pointer;
  padding: 0.9rem;
  font-size: 1rem;
  font-family: "Montserrat";
  background-color: rgb(223, 190, 147);
  text-transform: capitalize;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: 0.3s ease;
}
button:hover {
  background-color: rgb(190, 153, 105);
  transform: translateY(-2px);
}
.active {
  background-color: rgb(190, 153, 105);
}
.actions {
  position: absolute;
  right: 9rem;
  top: 6rem;
}

select {
  text-align: center;
  background-color: rgb(223, 190, 147);
  font-family: "Montserrat";
  height: 35px;
  font-size: 1rem;
  padding: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 1.5rem;
  }
  button {
    padding: 0.6rem 0.9rem;
    font-size: 0.6rem;
    margin-bottom: 4rem;
  }
  .actions {
    position: absolute;
    right: 9rem;
    top: 7rem;
  }
  .list img:hover {
    transform: scale(1);
  }
  select {
    font-size: 0.7rem;
  }

  .list {
    width: 330px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .logo {
    font-size: 2.8rem;
  }
  .buttons {
    justify-content: start;
  }
  button {
    padding: 0.6rem;
    font-size: 1rem;
  }
  .actions {
    position: absolute;
    right: 2rem;
    top: 5rem;
  }
}
